/* *, */
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
}
.dropMeshActive {
  /* border: 5px solid greenyellow; */
  border-radius: 50%;
  height: 150px;
  width: 150px;
  transform: translate(-30px, -50px);
}
.dropMeshInActive {
  /* border: 5px solid red; */
  height: 0;
  width: 0;
}
